// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$primary: #906427;
$secondary: #b6ac97;
$dark: #392c1e;
$black: #292222;
$font-family-sans-sherif: "Montserrat", sans-sherif !default;
$font-family-sherif: "Hind Madurai", sherif !default;

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
